<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
    {% include "head.html" %}
</head>
<body>
      <main>
<img width="500px" style="display: block; margin:auto;" src="/logo-meteor-torc.svg"/>
	<p style="margin-bottom:64px;text-align: center;">
          <a href="/">home</a> |
	  <a href="/editions">editions</a> |
	  <a href="/editions">events</a> |
	  <a href="https://shop.torc.art/agile-meteor-press" target="_blank">buy our books</a> 
	</p> 

          {% block content %}
          {% endblock content %}

<p style="margin-top:64px;text-align: center;">
          <a href="/">home</a> |
	  <a href="/editions">editions</a> |
	  <a href="https://shop.torc.art/agile-meteor-press" target="_blank">buy our books</a> 
	</p> 


          <p style="text-align: center;">
	  Agile Meteor Press is a project of <a href="https://torc.art">Truth or Consequences Contemporary</a>. You can visit us in Truth or Consequencs, New Mexico at 312 Main Ave. 
		</br>
		</br>
          <a rel="me" href="https://instagram.com/torc.art">instagram</a> 
		&
          <a rel="me" href="https://facebook.com/torc.art">facebook</a> 
          
</p>
      </main>
</body>
</html>
